.tdiv {
    position:absolute;
    left:20%;
}
table {
	border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
}
table td {
	padding: 15px;
}
table th {
	background-color: #54585d;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #54585d;
}
table td {
	color: #636363;
	border: 1px solid #dddfe1;
}
table tr:hover {
    background-color:rgb(216, 216, 216);
}
#db_update {
    background-color: rgb(173, 173, 173);
    color: black;
    cursor: pointer;
    border-radius: 25%;
}
#db_update:hover {
    background-color: white;
}
.expand {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.expand:hover {
    background-color: rgb(75, 75, 75);
}
.xtra_info {
    padding: 0 18px;
    max-height: 0;
    max-width: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    transition: max-width 0.2s ease-out;
    background-color: #f1f1f1;
}
.expand:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
.active:after {
    content: "\2212";
  }